@using Microsoft.AspNet.Identity
@if (Session["userId"] != null)
{
    
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(Session["userName"].ToString(), "", "Account", routeValues: null, htmlAttributes: new { title = "Administrar" })
        </li>
        <li>
            @Html.ActionLink("Cerrar Sesión", "LogOff", "Veroco", routeValues: null, htmlAttributes: new { title = "Administrar" })
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Registrarse", "Veroco", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Veroco", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
