@using Microsoft.AspNet.Identity
@if (Session["userId"] != null)
{
    
    @Html.AntiForgeryToken()
    <ul class="nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                Account
                <span class="caret">
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink(Session["userName"].ToString(), "Index", "Account", routeValues: null, htmlAttributes: new { title = "Index" })
                </li>
                <li>
                    @Html.ActionLink("Cerrar Sesión", "LogOff", "Veroco", routeValues: null, htmlAttributes: new { title = "Cerrar Sesión" })
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Registrarse", "Veroco", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Veroco", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
