@model Proyecto_Final.Models.ImagenCompleta

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

<form action="" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Producto</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Producto.productName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Producto.productName)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Precio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Producto.productPrice, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Producto.productPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Stock", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Producto.productStock, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Producto.productStock)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Producto.categoryId, (IEnumerable<SelectListItem>)ViewBag.Categoria, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Producto.categoryId)
            </div>
        </div>

        @Html.HiddenFor(model => model.Producto.productImage)

        <div class="form-group">
            @Html.Label("Imagen", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Imagen.ImageUpload, new { type = "file" })
                @Html.ValidationMessageFor(model => model.Imagen.ImageUpload)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>
