@model BusinessLayer.Producto

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro que deseas eliminar?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
            <img src="@Url.Content(Model.productImage)" style="height:150px;width:150px; text-align:center" />
        <dt></dt>
        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayName("Precio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            @Html.DisplayName("Stock")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productStock)
        </dd>

        <dt>
            @Html.DisplayName("Categoria")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.categoryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        </div>
    }
</div>
